<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Columna nombre -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>

      <mat-checkbox [checked]="id" ([ngModel])="id" >Id</mat-checkbox>

    </th>

    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Columna nombre -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef><mat-checkbox [checked]="nombre" ([ngModel])="nombre" >Nombre</mat-checkbox></th>
    <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
  </ng-container>

  <!-- Columna apellidos -->
  <ng-container matColumnDef="apellidos">
    <th mat-header-cell *matHeaderCellDef><mat-checkbox [checked]="apellidos" ([ngModel])="apellidos" >Apellidos</mat-checkbox></th>
    <td mat-cell *matCellDef="let element">{{ element.apellidos }}</td>
  </ng-container>

  <!-- Columna edad -->
  <ng-container matColumnDef="edad">
    <th mat-header-cell *matHeaderCellDef><mat-checkbox [checked]="edad" ([ngModel])="edad" >Edad</mat-checkbox></th>
    <td mat-cell *matCellDef="let element">{{ element.edad }}</td>
  </ng-container>

  <!-- Columna curso -->
  <ng-container matColumnDef="curso">
    <th mat-header-cell *matHeaderCellDef><mat-checkbox [checked]="curso" ([ngModel])="curso" >Curso</mat-checkbox></th>
    <td mat-cell *matCellDef="let element">{{ element.curso }}</td>
  </ng-container>
  <!--Columna boton editar-->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef><mat-checkbox [checked]="editar" ([ngModel])="editar" >Editar</mat-checkbox></th>
    <td mat-cell *matCellDef="let element" class="boton">
      <app-edit></app-edit>
    </td>
  </ng-container>
  <!--Columna boton borrar-->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef><mat-checkbox [checked]="delete" ([ngModel])="delete" >Delete</mat-checkbox></th>
    <td mat-cell *matCellDef="let element" class="boton">
      <app-delete></app-delete>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
