table {
    width: 100%;
  }
  


.boton{
  transform: scale(0.65, 0.65);
  -ms-transform: scale(0.65, 0.65); /* IE 9 */
  -webkit-transform: scale(0.65, 0.65); /* Safari and Chrome */
  -o-transform: scale(0.65, 0.65); /* Opera */
  -moz-transform: scale(0.65, 0.65); /* Firefox */
}